ejercicios\dogs-vs-cats\dataset_dogs_vs_cats
ejercicios\dogs-vs-cats\test1
ejercicios\dogs-vs-cats\train
ejercicios\dogs-vs-cats\dogs_vs_cats_labels.npy
ejercicios\dogs-vs-cats\dogs_vs_cats_photos.npy
ejercicios\dogs-vs-cats\test1.zip
ejercicios\dogs-vs-cats\train.zip
